In [99]:
import pandas as pd
import numpy as np

In [100]:
#load dataset using Windows text encoding
sales_data = pd.read_csv('../data/Superstore_sales_sample.csv', encoding = 'cp1252')

In [101]:
#check number of rows and columns
sales_data.shape

(9994, 21)

In [102]:
sales_data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [103]:
#view columns names for understanding
sales_data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [104]:
#check data types of each column 
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [105]:
#check summary statistics of columns
sales_data.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [106]:
#changing column names to standard format in lowercase, underscores only
sales_data.columns = (
    sales_data.columns
    .str.lower()
    .str.replace(' ', '_' )
    .str.replace('-', '_')
)

In [150]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   row_id          9994 non-null   int64
 1   order_id        9994 non-null   object
 2   order_date      9994 non-null   datetime64[ns]
 3   ship_date       9994 non-null   datetime64[ns]
 4   ship_mode       9994 non-null   object
 5   customer_id     9994 non-null   object
 6   customer_name   9994 non-null   object
 7   segment         9994 non-null   object
 8   country         9994 non-null   object
 9   city            9994 non-null   object
 10  state           9994 non-null   object
 11  postal_code     9994 non-null   int64
 12  region          9994 non-null   object
 13  product_id      9994 non-null   object
 14  category        9994 non-null   object
 15  sub_category    9994 non-null   object
 16  product_name    9994 non-null   object
 17  sales           9994 non-null   float64
 18  quantity        9994 non-null   int64
 19  discount        9994 non-null   float64
 20  profit          9994 non-null   float64
 21  profit_margin   9994 non-null   float64
 22  delivery_days   9994 non-null   timedelta64[ns]
 23  delivery_speed  9994 non-null   object
dtypes: datetime64[ns](2), float64(4), int64(3), object(14), timedelta64[ns](1)
memory usage: 1.8+ MB

In [154]:
sales_data.isnull().sum()

row_id            0
order_id          0
order_date        0
ship_date         0
ship_mode         0
customer_id       0
customer_name     0
segment           0
country           0
city              0
state             0
postal_code       0
region            0
product_id        0
category          0
sub_category      0
product_name      0
sales             0
quantity          0
discount          0
profit            0
profit_margin     0
delivery_days     0
delivery_speed    0
dtype: int64

In [155]:
sales_data.duplicated().sum()

np.int64(0)

In [108]:
sales_data.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [109]:
#convert order and ship dates to datetime
sales_data['order_date'] = pd.to_datetime(sales_data['order_date'])
sales_data['ship_date'] = pd.to_datetime(sales_data['ship_date'])
sales_data[['order_date','ship_date']].dtypes

order_date    datetime64[ns]
ship_date     datetime64[ns]
dtype: object

In [110]:
#KPI analysis
# calculate profit margin by dividing profit to sales
sales_data['profit_margin'] = sales_data['profit']/sales_data['sales']

In [111]:
#calculate difference in days between order date and ship date. It will help us to see any delays 
sales_data['delivery_days'] = sales_data['ship_date'] - sales_data['order_date']

In [112]:
sales_data['delivery_days'] = sales_data['ship_date'] - sales_data['order_date']#Business question 1: Which regions generate the most sales and profit
region_analysis = (
    sales_data
    .groupby('region')[['sales', 'profit']] #split dataset into groups according to regions, only show sales and profit
    .sum() #add up sales, profit values for each region
    .sort_values(by='sales', ascending = False) 
)
region_analysis

               sales       profit
region
West     725457.8245  108418.4489
East     678781.2400   91522.7800
Central  501239.8908   39706.3625
South    391721.9050   46749.4303

In [113]:
#Business question 2: Which products generate the most revenue and profit

category_analysis = (
    sales_data
    .groupby('category')[['sales', 'profit']]
    .sum()
)
category_analysis

                       sales       profit
category
Furniture        741999.7953   18451.2728
Office Supplies  719047.0320  122490.8008
Technology       836154.0330  145454.9481

In [114]:
#Business question 2: Which categories are more profitable relative to their sales?
category_profitability = (
    sales_data
    .groupby('category')[['profit_margin']]
    .mean()
)
category_profitability
# this is the calculation of the unweighted average, so small and large orders have the same impact
#it is good for understanding per-order behaviour, comparing pricing efficiency

                 profit_margin
category
Furniture             0.038784
Office Supplies       0.138030
Technology            0.156138

In [115]:
#Calculation of weighted profit margin by dividing total profit by total sales
#Categories with higher sales have more influence on the result (reflects real business profitability)
category_profitability_weighted = category_analysis['profit'] / category_analysis['sales']
data = pd.DataFrame(category_profitability_weighted, columns = ['weighted_profit_margin'])
data

                 weighted_profit_margin
category
Furniture                      0.024867
Office Supplies                0.170352
Technology                     0.173957

In [116]:
sales_data['delivery_days'].describe()

count                         9994
mean     3 days 22:59:46.311787072
std      1 days 17:56:29.766161104
min                0 days 00:00:00
25%                3 days 00:00:00
50%                4 days 00:00:00
75%                5 days 00:00:00
max                7 days 00:00:00
Name: delivery_days, dtype: object

In [117]:
# Are specific shipping methods are faster than others on average? 
time_by_ship_mode = (
    sales_data
    .groupby('ship_mode')['delivery_days']
    .mean()
)
time_by_ship_mode

ship_mode
First Class      2 days 04:23:05.695708712
Same Day         0 days 01:03:38.784530386
Second Class     3 days 05:42:47.197943444
Standard Class   5 days 00:09:24.611260053
Name: delivery_days, dtype: timedelta64[ns]

In [137]:
# Does delivery speed impact profitability? 
# Order grouped by delivery speed to compare average profit between fast and slow deliveries
fast_mask = sales_data['delivery_days'] <= pd.Timedelta(days = 1)
medium_mask = ( sales_data['delivery_days'] > pd.Timedelta(days = 1) ) & ( sales_data['delivery_days'] <= pd.Timedelta(days = 3) )
slow_mask = sales_data['delivery_days'] >= pd.Timedelta(days = 4)

sales_data[medium_mask]

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,category,sub_category,product_name,sales,quantity,discount,profit,profit_margin,delivery_days,delivery_speed
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,0.160000,3 days,Unknown
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,0.300000,3 days,Unknown
17,18,CA-2014-167164,2014-05-13,2014-05-15,Second Class,AG-10270,Alejandro Grove,Consumer,United States,West Jordan,...,Office Supplies,Storage,Fellowes Super Stor/Drawer,55.5000,2,0.00,9.9900,0.180000,2 days,Unknown
23,24,US-2017-156909,2017-07-16,2017-07-18,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,...,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.3720,2,0.30,-1.0196,-0.014286,2 days,Unknown
35,36,CA-2016-117590,2016-12-08,2016-12-10,First Class,GH-14485,Gene Hale,Corporate,United States,Richardson,...,Technology,Phones,GE 30524EE4,1097.5440,7,0.20,123.4737,0.112500,2 days,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9961,9962,CA-2015-168088,2015-03-19,2015-03-22,First Class,CM-12655,Corinna Mitchell,Home Office,United States,Houston,...,Office Supplies,Paper,Xerox 1919,65.5840,2,0.20,23.7742,0.362500,3 days,Unknown
9962,9963,CA-2015-168088,2015-03-19,2015-03-22,First Class,CM-12655,Corinna Mitchell,Home Office,United States,Houston,...,Furniture,Bookcases,Bush Heritage Pine Collection 5-Shelf Bookcase...,383.4656,4,0.32,-67.6704,-0.176471,3 days,Unknown
9980,9981,US-2015-151435,2015-09-06,2015-09-09,Second Class,SW-20455,Shaun Weien,Consumer,United States,Lafayette,...,Furniture,Tables,KI Adjustable-Height Table,85.9800,1,0.00,22.3548,0.260000,3 days,Unknown
9981,9982,CA-2017-163566,2017-08-03,2017-08-06,First Class,TB-21055,Ted Butterfield,Consumer,United States,Fairfield,...,Office Supplies,Labels,Avery 476,16.5200,5,0.20,5.3690,0.325000,3 days,Unknown
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028,0.162500,2 days,Unknown

In [142]:
sales_data['delivery_speed']= 'Unknown'
sales_data['delivery_speed'].value_counts(dropna = False)
#groupby drop NaN by default later in the code, so assigned everything to 'Unknown' first

delivery_speed
Unknown    9994
Name: count, dtype: int64

In [143]:

sales_data.loc[fast_mask,'delivery_speed'] = 'Fast'
sales_data.loc[medium_mask,'delivery_speed'] = 'Medium'
sales_data.loc[slow_mask,'delivery_speed'] = 'Slow'
sales_data[:10]

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,category,sub_category,product_name,sales,quantity,discount,profit,profit_margin,delivery_days,delivery_speed
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,0.1600,3 days,Medium
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,0.3000,3 days,Medium
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,0.4700,4 days,Slow
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,-0.4000,7 days,Slow
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,0.1125,7 days,Slow
5,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694,0.2900,5 days,Slow
6,7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656,0.2700,5 days,Slow
7,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152,0.1000,5 days,Slow
8,9,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825,0.3125,5 days,Slow
9,10,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700,0.3000,5 days,Slow

In [144]:
profit_by_delivery = (
    sales_data
    .groupby('delivery_speed')['profit_margin']
    .mean()
)
profit_by_delivery

delivery_speed
Fast      0.133287
Medium    0.139390
Slow      0.112018
Name: profit_margin, dtype: float64

In [148]:
#checking if all rows were categorized
len(sales_data)

9994

In [149]:
sales_data['delivery_speed'].value_counts().sum()

np.int64(9994)